@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,900;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
}
$color-primary: #1e1f42;
$color-secondary: #db4668;

.container {
  overflow: hidden;
}

.title {
  font-size: 35px;
  text-align: center;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-primary;
  margin-bottom: 60px;
  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 3px;
    border-radius: 30%;
    background-color: $color-secondary;
  }
  @media (max-width: 767px) {
    font-size: 22px;
    margin-bottom: 30px;
  }
}

.block {
  padding: 100px 0 100px;
  @media (max-width: 767px) {
    padding: 50px 0 50px;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: auto;
}

.owl-carousel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  img {
    height: 90vh;
    max-width: 100%;
    object-fit: cover;
  }
}

.main {
  color: #fff;
  height: 90vh;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(2, 45, 98, 0) 0, #022d62 100%),
      linear-gradient(to left, rgba(2, 45, 98, 0) 0, #022d62 100%);
  }

  &-content {
    position: relative;
  }
  &-top {
    position: relative;
    z-index: 1;
    &::after {
      content: "";
      background-color: black;
      opacity: 0.4;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    &__info {
      padding: 15px 0 15px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 576px) {
        display: none;
      }
    }
    &__phone-number {
      display: flex;
      align-items: center;
      flex: 26%;
      i {
        margin-right: 10px;
      }
      @media (max-width: 840px) {
        flex: 20%;
      }
    }
    &-phone {
      display: flex;
      align-items: center;
      &__first {
        margin-right: 20px;
      }
      @media (max-width: 840px) {
        flex-direction: column;
        &__first {
          margin: 0;
        }
      }
    }
    &__schedule {
      flex: 40%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 840px) {
        flex: 0%;
        flex-direction: column;
        align-items: flex-end;
      }

      &-socials {
        display: flex;
        justify-content: space-between;
      }
      &-social {
        cursor: pointer;
        height: 30px;
        width: 30px;
        margin-right: 20px;
        transition: 0.3s ease-in-out;
        i {
          padding: 10px;
          &:hover {
            color: $color-secondary;
          }
        }
        a {
          color: inherit;
        }
        @media (max-width: 840px) {
          margin-right: 5px;
        }
      }
    }
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 10px 0;
    &-content {
      padding: 10px 0 10px 0;
      @media (max-width: 840px) {
        background-color: #1e1f42;
      }
    }
    &__logo {
      width: 100px;
      img {
        max-width: 100%;
      }
    }
    &-nav {
      @media (max-width: 840px) {
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100%;
        right: -100%;
        z-index: 3;
        background-color: #1e1f42;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;
        padding-top: 120px;
        &-item {
          padding: 10px 0 10px 0;
        }
      }
      &-item {
        color: inherit;
      }
    }
  }
  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-body {
    color: #fff;
    padding: 30px 0 30px 0;
    text-align: center;
    @media (max-width: 840px) {
      padding: 50px 0 30px 0;
    }

    &__subtitle {
      font-size: 48px;
      font-weight: 600;
      @media (max-width: 1140px) {
        font-size: 28px;
      }
      @media (max-width: 576px) {
        font-size: 26px;
      }
    }
    &__title {
      font-size: 68px;
      font-weight: bold;
      @media (max-width: 1140px) {
        font-size: 48px;
      }

      @media (max-width: 576px) {
        font-size: 36px;
      }
    }
    &__text {
      font-size: 18px;
      @media (max-width: 576px) {
        font-size: 16px;
      }
      @media (max-width: 376px) {
        display: none;
      }
    }
    &__btns {
      margin-top: 30px;
      button {
        a {
          color: inherit;
          text-decoration: none;
        }
      }
      @media (max-width: 576px) {
        display: flex;
        flex-direction: column;
      }

      button {
        padding: 0;
        font-size: 18px;
        font-weight: bold;
        outline: none;
        border: none;
        border-radius: 5px;
        border: 2px solid transparent;
         a{ 
           display: block;
           padding: 18px 12px;
         }

        @media (max-width: 576px) {
          a{ 
            display: block;
            padding: 12px 6px;
          }
        }

        &:first-child {
          margin-right: 10px;
          background-color: #fff;
          color: #000;
          @media (max-width: 576px) {
            margin: 0;
            margin-bottom: 10px;
          }
        }

        &:hover {
          transition: all 0.3s ease-in-out;
          background-color: transparent;
          border: 2px solid #fff;
          color: #fff;
        }
        @media (max-width: 576px) {
        }
      }
    }
  }
}

.menu-btn {
  display: none;

  @media (max-width: 840px) {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    z-index: 23;
  }
}

.menu-btn__burger {
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.nav-link {
  color: inherit;
  font-weight: 600;

  @media (max-width: 840px) {
    color: #db4668;
    font-weight: bold;
  }
}

.owl-stage {
  display: flex;
}

.owl-nav {
  display: none;
}

.owl-dots {
  margin-top: 20px;
  button {
    border: none;
    background: none;
  }
}

.services {
  background-color: #f4f4f4;
  padding-bottom: 40px;
  &-column {
    background-color: #fff;
    border: 1px solid #f4f4f4;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: ease-in-out 0.4s;
    &:hover {
      background-color: $color-primary;
      color: #fff;
    }
    &-bg {
      position: relative;
      display: flex;
      justify-content: center;
      height: 250px;
      img {
        max-width: 100%;
        object-fit: cover;
      }
    }
    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 14px;
      background-color: $color-secondary;
      border-radius: 50%;
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      i {
        font-size: 20px;
      }
    }
    &-body {
      padding: 20px;
      margin-top: 20px;
     min-height: 240px;
    }

    &-title {
      text-align: center;
      font-size: 22px;
      font-weight: 600;
    }
    &-text {
      text-align: center;
    }
  }
}

.about {
  background-color: #fbfbfb;
  &-title {
    color: $color-primary;
    &::before {
      content: "";
      background-color: $color-primary;
    }
  }

  &-column {
    display: flex;
    flex-direction: column;
    &-title {
      font-weight: bold;
    }
    &-text {
      display: flex;
      p {
        flex: 1;
      }
    }
    &-icon {
      color: $color-secondary;
      font-size: 20px;
    }
    &-bg {
      display: flex;
      justify-content: center;
      @media (max-width: 960px) {
        margin: 30px 0 30px 0;
      }
      img {
        max-width: 100%;
      }
    }
  }
}

.modal-success {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1050;
  background-color: rgba(0, 0, 0, 0.5);
  &-dialog {
    background-color: #fff;
    margin: 120px auto;
    max-width: 600px;
    padding: 10px 20px 20px 20px;
    border-radius: 5px;
  }
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-close {
    position: absolute;
    cursor: pointer;
    align-self: flex-end;
    font-size: 25px;
    font-weight: bold;
  }
  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 20px 0;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #22da51;
    i {
      color: #22da51;
    }
  }
  &-text {
    text-align: center;
    font-size: 20px;
  }

  &-show {
    display: block;
  }
}

.quastions {
  &-column {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: $color-primary;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
    }
    &-label {
      padding: 5px 0;
      margin: 0 10px;
      font-weight: bold;
      color: #fff;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &::after {
        content: "+";
        color: $color-secondary;
        font-size: 28px;
        padding: 0 20px;
      }
    }
    &-content {
      border: 1px solid #ccc;
      font-weight: 600;
      position: relative;
      height: 0;
      overflow: hidden;
      transition: 0.5s;
      background-color: #fff;
    }

    &-bg {
      img {
        max-width: 100%;
      }
    }
  }
}

.quastions-column.active .quastions-column-content {
  height: auto;
  padding: 10px;
}

.quastions-column.active .quastions-column-label::after {
  content: "-";
  padding-left: 20px;
}

.choose {
  background-color: #f3f1f1;
  text-align: center;
  &-text {
    margin: 5px 170px 40px 170px;
    @media (max-width: 960px) {
      margin: 5px 100px 40px 100px;
    }
    @media (max-width: 767px) {
      margin: 5px 50px 40px 50px;
    }
    @media (max-width: 576px) {
      margin: 5px 20px 20px 20px;
    }
  }
  &-title {
    margin-bottom: 20px;
  }
  &-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-column {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    @media (max-width: 960px) {
      margin-bottom: 20px;
    }

    &-bg {
      height: 150px;
      width: 100%;
      overflow: hidden;
      img {
        max-width: 100%;
        object-fit: cover;
      }
    }
    &-body {
      position: relative;
      padding: 20px;
    }
    &-title {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 18px;
    }
  }
  &-icon {
    margin-bottom: 10px;
    i {
      font-size: 25px;
    }
  }
}

.social-nav {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  display: none;
  @media (max-width: 576px) {
    display: flex;
    justify-content: center;
  }
}

.icon-link {
  display: block;
  padding: 15px 20px;
  font-size: 30px;
  color: #fff;
  transition: 0.5s ease-in-out;

  @media (max-width: 767px) {
    padding: 8px 12px;
    font-size: 20px;
  }
}
.instagram {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  &:hover {
    color: #fff;
  }
}

.telegram {
  background-color: #0088cc;
  &:hover {
    color: #fff;
  }
}

#scrollTop {
  position: fixed;
  bottom: 60px;
  padding: 6px 10px 10px 10px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  z-index: 99999;
  color: #fff;
  background-color: $color-secondary;
  border-radius: 5px;
  cursor: pointer;
  @media (max-width: 767px) {
    font-size: 25px;
    padding: 5px;
    right: 20px;
    bottom: 30px;
  }
}

.show-scroll {
  transition: 0.4s ease-out;
  opacity: 0;
  &_hide {
    opacity: 0;
  }
  &_show {
    opacity: 1;
  }
}

.order {
  background-color: $color-primary;
  &-title {
    color: #fff;
  }
}

.form-group {
  margin-bottom: 20px;
  label {
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
  }
  input {
    padding: 10px 15px;
  }
  &-message {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form-btn {
  width: 100%;
  margin-top: 15px;
  padding: 15px 0;
  background-color: $color-secondary;
  font-weight: bold;
  font-size: 18px;
}

.location {
  &-info {
    margin-bottom: 20px;
    color: $color-primary;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    i {
      color: $color-secondary;
      margin-right: 5px;
    }
  }
  &-map {
    border: 1px solid $color-secondary;
  }
}

.footer {
  background-color: $color-primary;
  &-author {
    text-align: center;
    color: $color-secondary;
    a {
      color: inherit;
      text-decoration: none;
    }
    margin-bottom: 0px;
    padding: 20px;
    border: 1px solid #f3f1f1;
  }
}
